html{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.sidebar{
    width: 25%;
    overflow-x: hidden;
}
img{
    width: 50rem;
    display: block;
    margin: 0 auto;
    overflow-y: hidden;
}
h1{
    font-family: Bahnschrift, serif;
    text-align: left;
    margin-left: 20px;
}
h2{
    width: 100%;
    text-align: center;
    font-family: Bahnschrift, serif;
}
.orange{
    color: rgb(241, 90, 41);
}
.relative{
    position: relative;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-content {
    display: flex;
    flex: 1;
    width: 100%;
}
.sidebar {
    flex: 1;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
}
.censored{
    z-index: 1;
    background-color: black;
    position: absolute;
    bottom: 1rem;
    height: 3rem;
    width: 50rem;
    text-align: center;
    font-family: Bahnschrift, serif;
    color: white;
}
.center{
    width: fit-content;
    display: block;
    margin: 1rem auto;
}
button{
    font-size: 20px;
    padding: 5px 10px;
    background: none;
    border-radius: 10px;
    border: 3px solid black;
    font-family: Bahnschrift, serif;
    display: inline-block;
}
button:disabled{
    color: black;
    border-color: black;
}
button:hover{
    border: 3px solid rgb(241, 90, 41);
}
#next{
    position: absolute;
    right: 2rem;
}
